.glassmorphism-box {
  width: 100%;
  border: 2px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.4);
  border-radius: 10px;
  z-index: 2;
  overflow: hidden;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
