.page {
  background: #12c2e9;
  background: -webkit-linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);
  background-image: url('https://i.ibb.co/JdbWM6K/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 3vh 0;
}
