$border-color: rgba(255,255,255,0.2);
$border-color-dark: rgba(0, 0, 0, 0.4);
$border-color-hover: rgba(255,255,255,0.4);
$border-color-active: rgba(255, 255, 255, 0.6);
$label-color-active: rgba(255, 255, 255, 0.6);

$text-color: rgba(0, 0, 0, 0.6);

$glassmorphism-bg-color: rgba(255,255,255,0.4);
